@mixin mp0 {
    margin: 0;
    padding: 0;
}

@mixin relative_full {
    width: 100%;
    height: 100%;
    position: relative;
}

@mixin absolute_full {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@mixin center_x {
    left: 50%;
    transform: translateX(-50%);
}

@mixin center_y {
    top: 50%;
    transform: translateY(-50%);
}

@mixin center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}