// Login

$background_login: #f9f9f9;

// 

$preto: #2B2B2B;
$cinza: #4C4C4C;
$cinza_claro: #cecece8a;
$cinza_placeholder: rgba(0, 0, 0, 0.3);

$cor_primaria_neutra: #32A9FF;

$cinza_rodape: #3A3A3A;

$cor_primaria_inema: #0072BC;
$cor_primaria_inema_light: #1783ca;

$cor_primaria_sema: #009973;
$cor_primaria_sema_light: #0da17c;