// Importar grid system bootstrap
@import 'grid/bootstrap';

// Importar fontes
@import url('https://fonts.googleapis.com/css?family=Hind+Guntur');

// Importar variáveis
@import 'variables';

// Importar mixins
@import 'mixins';

// Importar layouts
@import 'layouts/login';

// Importar pages
@import 'pages/home';
@import 'pages/galeria';
@import 'pages/posts';
@import 'pages/adf';
@import 'pages/novos_colaboradores';
@import 'pages/fale_conosco';

// Importar widgets
@import 'widgets/noticias';
@import 'widgets/novos_colaboradores';
@import 'widgets/aniversariantes';
@import 'widgets/banners';
@import 'widgets/calendario';
@import 'widgets/fica_dica';
@import 'widgets/videos';

// Importar componentes
@import 'components/form/form';
@import 'components/painel_tempo';
@import 'components/barra_governo_ba';
@import 'components/struct/header';
@import 'components/struct/footer';
@import 'components/banner';
@import 'components/galeria_rodape';

*{
    @include mp0;
}

html{
    font-family: 'Hind Guntur', sans-serif;
    color: $preto;
}

p{
    line-height: 25px;
    font-size: 14px;
}

svg{
    fill: $preto;
}

a{
    text-decoration: none;
    
    &:hover{
        text-decoration: underline;
    }
}

a, .select_span{
    &.__inema{
        &:hover{
            color: $cor_primaria_inema;
        }
    }

    &.__sema{
        &:hover{
            color: $cor_primaria_sema;
        }
    }
}

.cor_orgao{
    &.__inema{
        color: $cor_primaria_inema;
    }

    &.__sema{
        color: $cor_primaria_sema;
    }
}

.borda_orgao{
    &.__inema{
        border-color: $cor_primaria_inema;
    }

    &.__sema{
        border-color: $cor_primaria_sema;
    }
}

.bkg_orgao{
    &.__inema{
        background-color: $cor_primaria_inema;
    }

    &.__sema{
        background-color: $cor_primaria_sema;
    }
}

.fill_orgao{
    &.__inema{
        fill: $cor_primaria_inema;
        
        path{
            fill: $cor_primaria_inema;
        }
    }

    &.__sema{
        fill: $cor_primaria_sema;
        
        path{
            fill: $cor_primaria_sema;
        }
    }
}

ul{
    list-style: none;

    &.ul_inline{
        li{
            display: inline;
        }
    }
}

.mt-30{
    margin-top: 30px;
}

.alignright{
    text-align: right;
}

.flex{
    display: flex;
    flex-flow: row;
    flex-grow: 1;
}

@media (max-width: 767.98px) {
    .flex{
        flex-wrap: wrap;
    }
}

.container{
    width: 95vw;
    max-width: 1375px;
    margin: 0 auto;
}

.conteudo_pagina{
    width: 78%;
    margin: 0 auto;

    @media (max-width: 767.98px) {
        width: 95%;
    }

    &.full{
        width: 95%;

        main{
            padding: inherit;

            &.aside{
                padding-right: 40px;
            }
        }
    }
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .col-6{
        width: calc(50% - 41px);
        
        &:first-child{
            padding-right: 40px;
        }

        &:last-child{
            padding-left: 40px;
        }
    }
}