header.main{
    // border: 1px solid $preto;
    padding: 16px 40px 3px 40px;
    position: relative;
    border-bottom: 1px solid #c4c4c4;

    h1{
        font-size: 24px;
        font-weight: normal;

        a{
            color: $preto;
            text-decoration: none;

            &.__inema{
                color: $cor_primaria_inema;
            }

            &.__sema{
                color: $cor_primaria_sema;
            }
        }
    }

    #selecionar_orgao{
        position: absolute;
        top: 20px;
        right: 40px;

        li{
            margin: 0 10px;
            cursor: pointer;
            display: inline-block;
            height: 23px;

            &.selecionado{
                border-bottom-width: 3px;
                border-bottom-style: solid;
            }

            &:last-child{
                margin-right: 0;
            }
        }
    }

    @media (max-width: 767.98px) {

        &{
            padding: 5px;
        }

        h1{
            margin-top: 50px;
            margin-left: 10px;
            line-height: 25px;
        }

        #selecionar_orgao{
            top: 5px;
            left: 5px;
            right: auto;
        }
    }

    .select_span{
        font-weight: 400;
        cursor: pointer;
        position: relative;

        &.marged{
            margin-right: 20px;
        }

        svg{
            margin-left: 5px;
            transform: translateY(-2px)
        }

        &:hover{
            .__inema{
                fill: $cor_primaria_inema;
            }

            .__sema{
                fill: $cor_primaria_sema;
            }
        }
    }

    nav{
        margin-top: 10px;
        font-size: 14px;

        li{
            margin: 0 5px;
            transition: .2s all;

            &.select{
                position: relative;
            }

            a{
                text-decoration: none;
                color: $preto;

                &.titulo{
                    &.__inema{
                        color: $cor_primaria_inema;
                    }
        
                    &.__sema{
                        color: $cor_primaria_sema;
                    }

                    &:hover{
                        font-weight: bold !important;
                    }
                }
            }

            :hover{
                font-weight: bold;
            }
        }
    }

    #menu_intranet, #menu_ouvidoria, #menu_consulta{
        display: inline-block;
        position: absolute;
        background: #FFF;
        padding: 20px;
        z-index: 10;
        top: 50px;
        left: -23px;
        min-height: 200px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        animation: slowSlideDown .5s forwards;
        max-height: 500px;
        width: 690px;
        max-width: 95vw;
        border-radius: 2px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);

        &:hover li{
            font-weight: normal;        
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            flex: 1;
            max-height: 470px;
            box-sizing: border-box;
            overflow-x: auto;
            overflow-y: hidden;

            &:hover{
                font-weight: normal;
            }
        }

        &:before, &:after{
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
        }   

        &:before{
            left: 110px;
            top: -22px;
            border-color: transparent transparent #ccc transparent;
            border-width: 11px 10px;
        }

        &:after{
            left: 111px;
            top: -20px;
            border-color: transparent transparent #fff transparent;
            border-width: 10px 9px;
        }

        li{
            font-size: 12px;
            line-height: 20px;
            display: block;
            width: auto;
            max-width: 128px;
            flex-basis: auto;
            margin-right: 15px;

            &:hover, a:hover{
                cursor: pointer;
                text-decoration: underline;
                font-weight: normal;
            }

            &.titulo{
                line-height: 20px;
                font-size: 14px;
                font-weight: bold;

                &.mb{
                    margin-bottom: 16px;
                }

                &:first-child, &.mt-0{
                    margin-top: 0;
                }
            }

            &.subitem{
                padding-left: 15px;

                &.hoverable + ul{
                    display: none;
                    position: absolute;
                    top: 16px;
                    z-index: 1;
                    // transform: scale(.5) translateY(-5px);
                    // transition: all 2s;
                    padding: 10px;
                    width: 100%;
                    background: #fff;
                    box-shadow: 1px 1px 3px 1px #ccc;
                }
            }

            &.mb{
                margin-bottom: 16px;
            }
        }

        div.hoverable_item_wrap{
            position: relative;

            &:hover{
                ul{
                    opacity: 0;
                    display: block;
                    z-index: -1;
                    animation: showLevel4 .5s .2s forwards;
                }
            }
        }
    }

    @keyframes showLevel4 {
        0% {
            transform: scale(.5) translateY(-5px);
            opacity: 0;
            z-index: -1;
        }
        100% { 
            opacity: 1;
            transform: scale(1) translateY(0px);
            z-index: 1;
        }
    }

    #menu_consulta{
        top: 50px;
        left: -55px;
        width: 180px;
        height: auto;
        min-height: auto;
    }

    #menu_ouvidoria{
        top: 50px;
        left: -50px;
        width: 180px;
        height: auto;
        min-height: auto;
    }

    @keyframes slowSlideDown{
        from {transform: translateY(-35px);}
        to {transform: translateY(-24px);}
    }

    #busca{
        position: absolute;
        bottom: 3px;
        right: 40px;
    }

    @media (max-width: 767.98px) {
        nav{
            margin-top: -15px;
            
            .select_span{
                display: block;
                
                &.marged{
                    margin-left: 10px;
                }

                &.inline{
                    display: inline;
                }
            }
        }

        #menu_intranet{
            top: 30px;
            left: -5px;

            li{
                &.mt-0{
                    margin-top: 16px !important;
                }

                &.mb{
                    margin-bottom: 0px !important;
                }
            }
        }

        .input_wrap{
            background: #FFF;
            box-shadow: -15px -5px 0 10px #FFF;
        }

        #busca{
            right: 15px;

            input.focused_or_filled{
                width: 180px;
            }
        }
    }

    .input_wrap{

        input{
            border: none;
            background: transparent;
            margin: 0;
            width: 40px;
            padding: 0 0;

            &.focused_or_filled{
                padding-left: 50px;
                width: 200px;
            }
        }

        label{        
            &.focused_or_filled{        
                &::after { 
                    content: "";
                }
            }
        }

        button{
            border: none;
            background: #ccc;
            padding: 5px 10px;
            cursor: pointer;
        }
    }
}

#menu_caminho{
    margin-bottom: 25px;
    
    a{
        color: #A8A6A6;
        text-decoration: none;
        font-size: 12px;
        line-height: 16px;

        &:hover{
            text-decoration: underline;
        }

        &::after{
            content: ' > '
        }

        &:last-child{
            &::after{
                content: ''
            }
        }
    }
}

