section#abas{
    margin-top: 30px;
    margin-bottom: 50px;

    li{
        display: inline;
        display: inline-block;
        line-height: 18px;
        padding-top: 8px;
        font-weight: 300;
        font-size: 18px;
        margin: 0 18px;

        &:first-child{
            margin-left: 0;
        }

        &.active, &:hover{
            border-bottom-style: solid;
            border-bottom-width: 2px;

            &.__inema{
                border-color: $cor_primaria_inema;
            }

            &.__sema{
                border-color: $cor_primaria_sema;
            }
        }

        a{
            cursor: pointer;
            text-decoration: none;
            color: $preto;
        }
    }
}

// Box accord
div.accord_parent{
    box-shadow: none;
    margin-bottom: 15px;

    &:before{
        height: 0;
    }

    // Caixa de título
    > div:nth-child(1){
        padding: 0;
        display: block;
        border-bottom: 1px solid #ccc;
        min-height: auto;

        p{
            font-weight: 300;
            font-size: 18px;
            line-height: 34px;
            padding-bottom: 12px;
            padding-right: 5px;
        }

        &.__inema{
            p{
                color: $cor_primaria_inema !important;
            }
            path{
                fill: $cor_primaria_inema !important;
            }
        }

        &.__sema{
            p{
                color: $cor_primaria_sema !important;
            }
        }

        // Título do box accord
        div:nth-child(1){
            margin: 0;
            display: inline;
            margin-bottom: 1px solid #ccc;

            p{
                display: inline;
            }
        }

        div:nth-child(2){
            position: relative;
            display: inline-block;
            top: 0;
            transform: translateY(0) rotate(0deg);
            
            &[class^="MuiExpansionPanelSummary-expanded-"]{
                transform: translateY(0) rotate(180deg);
            }
        }
    }

    .compromissos_box{
        display: block;
        padding: 30px 10px;
        
        h3{
            font-weight: 600;
            font-size: 18px;
            line-height: 34px;
            margin-bottom: 0;
        }

        h5{
            font-weight: 300;
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 10px;
        }

        div{
            margin-bottom: 30px;

            ul{
                list-style: disc;
                padding-left: 20px
            }
        }
    }

    a{
        display: block;
    }
}

button.a_like{
    background: none;
    border: none;
    cursor: pointer;
    font-size: initial;

    &:hover{
        text-decoration: underline;
    }
}

/* ---------- DOCUMENTOS ESPECIFICOS ---------- */

#docs_especificos{
    display: flex;

    > div{
        width: 50%;
        
        &:first-child{
            padding-left: 12px;
            padding-right: 40px;
        }

        &:last-child{
            padding-right: 12px;
            padding-left: 40px;
            border-left: 1px solid #ccc;
        }
    }
}

.input_container_root{
    margin-bottom: 32px !important;
}