#sec_fale_conosco{

    .col-6:first-child{
        border-right: 1px solid #ccc;
        padding-left: 15px;
        box-sizing: border-box;
    }

    h4{
        font-weight: 300;
        font-size: 18px;
        line-height: 34px;
        margin-top: 0;

        &.underlined{
            border-bottom-style: solid;
            border-bottom-width: 2px;
            display: inline-block;
            line-height: 18px;
            padding-top: 8px;
        }
    }

    .info_grande{
        font-weight: 300;
        font-size: 24px;
        line-height: 15px;
        display: block;
        white-space: nowrap;

        &.__inema{
            color: $cor_primaria_inema;
        }
    
        &.__sema{
            color: $cor_primaria_sema;
        }
    }

    hr{
        border: none;
        height: 30px;
    }

    .input_container_root{
        display: block;
        margin-bottom: 32px;
    }

    select{
        display: block;
    }

    svg{
        height: 30px;
        width: 30px;
        margin-right: 15px;
    }
}

/* ---------- FORM ---------- */

.input_container_root{
    min-height: 40px;

    label{
        transform: translate(10px, 12px) scale(1);

        &.__inema{
            color: $cor_primaria_inema;
        }
    
        &.__sema{
            color: $cor_primaria_sema;
        }
    }

    input[type], select{
        padding: 10px 15px;
        border: none;
        height: 100%;
        background: transparent;
        box-sizing: border-box;
        margin: 0;
    }

    textarea{
        height: 160px;
        width: 300px;
    }

    select{
        min-width: 150px
    }

    .input_form_focused fieldset{
        &.__inema{
            border-color: $cor_primaria_inema;
        }
    
        &.__sema{
            border-color: $cor_primaria_sema;
        }
    }
}

button.btn{
    color: #fff;
    height: 40px;
    padding: 5px 25px;

    &.__inema{
        background-color: $cor_primaria_inema;

        &:hover{
            background-color: $cor_primaria_inema_light;
        }
    }
    
    &.__sema{
        border-color: $cor_primaria_sema;
        
        &:hover{
            background-color: $cor_primaria_sema_light;
        }
    }
}