#galeria_lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -25px;
    width: calc(100% + 50px);

    > div{
        flex: 1 0 auto;
        margin: 25px;
        width: 270px;
        height: 200px;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        &:hover{
            > img{
                width: 140%;
            }

            > span{
                transform: scale(1.02) translateY(-20px);
            }
        }

        > img{
            position: absolute;
            @include center;
            width: 120%;
            transition: .6s all;
        }

        > div{
            @include absolute_full;
            cursor: pointer;

            &.__inema{
                background-image: linear-gradient(transparent, $cor_primaria_inema 110%);
            }

            &.__sema{
                background-image: linear-gradient(transparent, $cor_primaria_sema 110%);
            }
        }

        > span{
            position: absolute;
            bottom: 5px;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            line-height: 17px;
            transition: .6s all;
        }
    }
}

#modal_galeria{
    .image-gallery {
        position: absolute;
        @include center;
    }
}