main.index{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    #novos_colaboradores{
        display: block;
        flex: 1 0 auto;

        header{
            display: block;
        }
    }

    > section{
        min-height: 200px;
        min-width: 200px;
        margin: 30px;
        flex: 1 0 auto;
        display: flex;
        order: 1;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    > section:nth-child(1) {
        width: 570px;
        height: 280px;
    }

    > section:nth-child(2) {
        width: 270px;
        height: 280px;
    }


    > section:nth-child(3) {
        width: auto;
        height: auto;
        margin-right: 0;
    }

    // Linha 2

    > section:nth-child(4), > section:nth-child(5), > section:nth-child(6){
        margin-bottom: 0;
    }

    > section:nth-child(4) {
        width: 280px;
        height: 243px;
    }

    > section:nth-child(5) {
        width: 415px;
        height: 243px;
    }

    > section:nth-child(6) {
        width: 420px;
        height: 300px;
        margin-right: 0;
    }            

    // Linha 3

    > section:nth-child(7), > section:nth-child(8) {
        width: 350px;
        height: 285px;
        align-self: flex-end;
        margin-top: 0;
    }

    > section:nth-child(9) {
        width: 420px;
        height: 230px;
        align-self: flex-end;
        margin-top: 0;
        margin-right: 0;
    }
    
    // Linha 4

    > section:nth-child(10), > section:nth-child(11) {
        height: 210px;
    }           
}

/* ---------- DESTAQUE ---------- */

#destaque{
    display: inline-block;
    order: 2;
    flex: 5 0 auto;
    
    header{
        h1{
            font-weight: 600;
            font-size: 35px;
            line-height: 37px;
            color: $cinza;
        }
    }

    a{
        font-size: 12px;
        line-height: normal;
        margin-bottom: 20px;
        display: inline-block;
        
        &:not(.cor_orgao){
            color: inherit;
        }
    }

    p{
        font-size: 14px;
        line-height: 20px;
    }
}

/* ---------- PAINEL ---------- */

#painel{
    flex: 0 0 auto;
}

/* ---------- AGENDA CULTURAL ---------- */

#agenda_cultural{
    display: inline-block;
    position: relative;

    .slider, .slider-list, .slider-list li{
        height: 100% !important;
    }

    .ag_cultural_slide{
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    header{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        color: #fff;
        padding: 8px;

        h3{
            font-size: 20.5295px;
            line-height: 20px;
            font-weight: normal;
            position: relative;
            top: 3px;
        }
    }

    .fade{
        @include absolute_full;
        z-index: 2;
        background-image: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(0, 0, 0, 0.75) 97.79%);
    }

    .cortina{
        @include absolute_full;
        z-index: 3;
    }

    .trecho{
        position: absolute;
        bottom: 24px;
        padding: 0 50px;
        z-index: 4;
        width: 100%;
        box-sizing: border-box;
        color: #fff;

        h3{
            font-size: 20.5295px;
            line-height: 20px;
        }

        .descricao{
            display: block;
            font-size: 14px;
            line-height: 19px;
        }

        .data{
            display: block;
            font-size: 13px;
            line-height: 17px;
        }
    }

    .slider-control-centerright, .slider-control-centerleft{
        position: absolute;
        transform: none !important;
        top: auto !important;

        button{
            background: none;
            outline: 0;
            border: 0;

            path{
                cursor: pointer;
                opacity: .5;
            }
        }
    }

    .slider-control-centerleft{
        bottom: 30px;
        left: 15px !important;
    }

    .slider-control-centerright{
        bottom: 30px;
        right: 15px !important;
    }
}

/* ---------- ALTOS PAPOS ---------- */

#altos_papos{
    background-size: cover;
    background-position: center;
    display: inline-block;
    padding: 28px 20px;
    position: relative;

    .texto{
        width: 80%;
        min-width: 350px;
        max-width: 450px;
        padding: 1px 0px;
        position: absolute;
        left: 10%;
        bottom: 37px;
        
        &.__light{
            color: #fff
        }

        &.__dark{
            color: #000
        }

        h4 {
            font-weight: normal;
            font-size: 12px;
        }

        h4, span,  p {
            // max-width: 600px;
            // box-sizing: border-box;
            white-space: pre-wrap;
            padding-top: 1px;
            display: inline;
            vertical-align: sub;
            // box-shadow: 10px 0 0 orange, -10px 0 0 orange;
        }

        div{
            height: 5px;
        }

        span, p{
            font-size: 20px;
            font-weight: 500;
            line-height: inherit;
        }
    }

    a{
        color: inherit;
    }
}