#colaborador{
    margin-bottom: 80px;
    
    .foto_perfil{
        max-width: 186px !important;
        height: 280px;
        background-position: center;
        background-size: cover;
    }

    h4{
        font-weight: 300;
        font-size: 20px;
        line-height: 21px;
        margin-bottom: 21px;
    }

    main{
        padding-left: 30px;
        box-sizing: border-box;
    }

}

#historico_posts.custom{

    .posts_item_historico{
        .conteudo{
            height: 120px;
        }
    }

}