#historico_posts{
    
    a{
        color: $preto;
    }

    > a:last-child .posts_item_historico{
        margin-bottom: 50px;
    }
    
    .posts_item_historico{
        display: flex;

        .data{
            font-weight: 300;
            font-size: 12px;
            line-height: 16px;
            display: block;
            margin-bottom: 10px;
        }

        h4{
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
        }

        .img_destaque{
            height: 100px;
            width: 200px;
        }

        .conteudo{
            padding: 0 36px;
            padding-top: 5px;
            // height: 100px;
            overflow: hidden;
        }
    }
}

aside{
    min-width: 365px;
    flex: 0 0 365px;
    border-left: 1px solid #CCC;
    padding: 0 40px;
    padding-bottom: 20px;
    box-sizing: border-box;

    a{
        color: $preto;

        &:hover{
            text-decoration: none;
        }

        &.__inema{
            &:hover{
                color: $cor_primaria_inema;
            }
        }
    
        &.__sema{
            &:hover{
                color: $cor_primaria_sema;
            }
        }
    }

    .trecho_noticia{
        margin-bottom: 20px;

        .img_destaque{
            width: 284px;
            min-width: 100%;
            min-height: 155px;
            background-size: cover;
            background-position: center;
            margin-bottom: 15px;
        }

        time{
            font-size: 12px;
            line-height: 16px;
            display: block;
            margin-bottom: 10px;
        }

        .titulo{
            line-height: 24px;
            font-size: 18px;
            display: block;
            margin-bottom: 10px;
        }

        .trecho{
            line-height: 19px;
            font-size: 14px;
            display: block;
        }

        a{
            line-height: 19px;
            font-size: 14px;
            text-align: left;
        }
    }

    @media (max-width: 767.98px) {
        &{
            min-width: 200px;
            border-left: none;
        }
    }
}

.paginacao{
    display: inline-block;
    width: 100%;
    text-align: right;

    svg{
        fill: none;
    }

    button{
        background: none;
        border: none;
        padding: 5px 10px;    
        font-size: 14px;
        line-height: 22px;

        &.atual{
            &.__inema{
                color: $cor_primaria_inema;
            }
        
            &.__sema{
                color: $cor_primaria_sema;
            }
        }
    }
}

/* ---------- ALTOS PAPOS ---------- */

section.cpt_altos-papos{
    .img_destaque{
        float: left;
        height: 230px;
        display: inline-block;
        width: 190px;
        margin: 0 20px 20px 0;
    }

    h5{
        font-weight: 300;
        font-size: 12px;
        line-height: 13px;
        margin-bottom: 5px;
    }

    h3{
        font-weight: 300;
        font-size: 20px;
        line-height: 21px;
    }
}

/* ---------- VÍDEOS ---------- */

#historico_posts{

    > .pseudo_link:nth-child(-n+1) .posts_item_historico{
        margin-bottom: 50px;
    }

    .pseudo_link{
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.posts_item_historico{
    .vid_destaque{
        height: 100px !important;
        width: 200px !important;
    }
}

/* ---------- PÁGINA DO POST ---------- */

.post{
    padding: 0 40px 30px;
    flex: 1 1 auto;
    position: relative;
    width: 100%;
    box-sizing: border-box;

    .img_destaque{
        width: 100%;
        height: 280px; 
        margin-bottom: 50px;
        background-size: cover;
        background-position: center;
    }

    h2{
        font-weight: 300;
        font-size: 33px;
        line-height: 35px;
        display: inline-block;
        margin-bottom: 35px;
    }

    span.data_postagem{
        display: block;
        color: #7e7e7e;
        position: relative;
        top: -25px;
        font-size: 14px;
    }

    h3{
        font-size: 21px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    h4{
        font-size: 18px;
        font-weight: 600;
        margin: 10px 0;
    }

    p{
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 32px;
    }

    .conteudo{
        width: 90%;
        max-width: 800px;
        margin: 0 auto;

        img.alignleft{
            float: left;
            margin-right: 15px;
        }

        h5, h4, h3{
            font-weight: normal;
        }

        h5{
            line-height: 15px;
        }

        h3{
            line-height: 32px;
        }
        
    }

    &.__inema{
        a{
            color: $cor_primaria_inema;
        }
    }

    &.__sema{
        a{
            color: $cor_primaria_sema;
        }
    }
}