/* ---------- ANIVERSARIANTES ---------- */

#aniversariantes{
    display: inline-block;
    border: 1px solid #c0c0c0;
    padding: 10px 6px 10px 6px;

    header{
        position: relative;
        margin-bottom: 10px;

        div{
            position: absolute;
            right: 0;
            top: 0;
            font-size: 18px;
        }

        #selecao_data_atual{
            z-index: 10;
            right: 10px;
            top: 3px;
            cursor: pointer;

            svg{
                position: relative;
                top: -2px;
            }
        }

        #selecao_data{
            position: absolute;
            top: 0;
            right: 0;
            background: #fff;
            z-index: 2;
            display: block;
            max-width: 50%;
            overflow-y: auto;
            max-height: 190px;
            box-shadow: 1px 1px 7px rgba(204, 204, 204, 0.9);

            &::-webkit-scrollbar-track{
                border-radius: 10px;
                background-color: #fff;
            }
    
            &::-webkit-scrollbar{
                width: 5px;
                border-left: 5px solid #fff;
                background-color: transparent;
            }
    
            &::-webkit-scrollbar-thumb{
                border-radius: 10px;
                background-color: #c0c0c0;
            }

            .tarja{
                position: sticky;
                height: 40px;
                width: 100%;
                background: #fff;
                z-index: 2;
            }

            h4{
                padding-left: 10px;
            }

            .dias{
                display: flex;
                flex-wrap: wrap;
                position: relative;
                padding: 5px;
            }
            
            button{
                display: inline;
                padding: 1px 2px;
                background: #fff;
                min-width: 20px;
                border: none;
                margin: 1px;
                cursor: pointer;

                &:hover{
                    background: #ccc;
                }
            }
        }
    }

    footer{
        text-align: right;

        > a{
            font-size: 12px;
            line-height: 16px;
            display: inline-block;
            padding-top: 10px;
        }
    }

    h1{
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
    }

    main{
        height: 205px;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        color: #fff;

        &::-webkit-scrollbar-track{
            border-radius: 10px;
            background-color: #fff;
        }

        &::-webkit-scrollbar{
            width: 5px;
            border-left: 5px solid #fff;
        }

        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            background-color: #c0c0c0;
        }

        div.message{
            color: $preto;
            width: 100%;
            height: 98%;
            background: #fff;
            text-align: center;
            line-height: 200px;
        }

        > div{
            // flex: 1 0 90px;
            // min-height: 90px;
            // max-height: 90px;
            background: #ccc;
            margin: 1px;
            position: relative;
            // padding: 5px;
            box-sizing: border-box;

            .background{
                position: absolute;
                @include absolute_full;
                background-size: cover;
                background-position: center;
            }

            .cortina{
                @include absolute_full;
                opacity: 0;
                transition: .5s all;
                font-size: 12px;
                line-height: 16px;
                background: rgba(0, 0, 0, 0.5);
                text-align: center;
                padding: 30px 0;
                box-sizing: border-box;

                .conteudo{
                    position: absolute;
                    @include center;
                    display: block;

                    span{
                        display: block;
                    }
                }
            }

            &:hover{
                .cortina{
                    opacity: 1;
                }
            }
        }
    }

}