/* ---------- LINKS EXTERNOS ---------- */

#links_externos{
    flex-direction: column;
    max-width: 275px;
    order: 11;

    .slider{
        height: 50% !important;

        .slider-frame{
            height: 100%;
            width: 100%;
        }

        .slider-list{
            height: 100% !important;

            li{
                height: 100% !important;
            }
        }
    }

    .banner_lateral_slide{
        display: inline-block;
        width: 100%;
        height: 100%;
        cursor: pointer;

        div{
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}