#calendario{
    display: flex;
    flex-wrap: wrap;

    > div{
        position: relative;
        flex: 1 0 50%;
        min-width: 50%;
        min-height: 50%;
        max-width: 50%;
        max-height: 50%;
        padding: 20px;
        box-sizing: border-box;
        color: #fff;
    }

    > div:nth-child(1){
        a{
            color: #fff;
            text-decoration: none;
        }

        h1{
            font-weight: 600;
            font-size: 20.5295px;
        }
    
        h2{
            font-weight: 300;
            font-size: 18px;
            line-height: 18px;
        }
    }

    > div:nth-child(2){
        background: rgba(255, 255, 255, 0.2);

        table{
            font-size: 14px;
            line-height: 16px;
            border-collapse: collapse;
            position: relative;
            top: -5px;
            margin: 0 auto;
            width: 100%;
            max-width: 180px;

            td{
                text-align: center;
                font-weight: 100;
                opacity: .8;
                padding: 1px auto;

                &.bold{
                    font-weight: bold;
                    opacity: 1;
                    cursor: pointer;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                &.hoje{
                    position: relative;

                    &::before{
                        content: '';
                        position: absolute;
                        top: -5px;
                        left: 2px;
                        height: 22px;
                        width: 22px;
                        background: #fff;
                        border-radius: 50%;
                        z-index: -1;
                    }
                }
            }

            .borderbottom{
                td{
                    border-top: 1px solid #fff;
                    height: 5px;
                }
            }

            .month_control{
                position: absolute;
                background: none;
                border: none;
                cursor: pointer;
                top: -5px;

                &.prev{
                    left: -5px;
                }

                &.next{
                    right: -5px;
                }

                svg{
                    height: 15px;
                }

                path{
                    fill: #fff;
                }
            }
            .caps{
                text-transform: uppercase;
                padding-bottom: 5px;
                font-weight: bold;
                font-size: 18px;
            }
        }
    }

    > div:nth-child(3){
        background: rgba(255, 255, 255, 0.4);
        text-align: center;

        span:first-child{
            font-weight: 600;
            font-size: 113px;
            line-height: 149px;
            color: rgba(255, 255, 255, 0.6);
        }

        span:last-child{
            position: absolute;
            bottom: 12px;
            right: 48px;
            font-weight: 300;
            font-size: 15px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.6);
            text-transform: uppercase;
            font-size: 18px;
        }
    }

    > div:nth-child(4){
        background: rgba(255, 255, 255, 0.6);

        a{
            color: #fff;

            &:active{
                color: #fff;
            }

            &:hover{
                text-decoration: none;
            }
        }
        
        h3{
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
        }

        span{
            font-size: 10px;
            line-height: normal;
        }

        p{
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
        }

        .slider{
            height: 95% !important;
        }
    }

    .slider-control-centerright, .slider-control-centerleft{
        position: absolute;
        transform: none !important;
        top: auto !important;
        z-index: 2;

        button{
            background: none;
            outline: 0;
            border: 0;

            svg{
                width: 5px;
            }

            path{
                cursor: pointer;
                fill: #fff;
            }
        }
    }

    .slider-control-centerleft{
        bottom: -36px;
        left: -10px !important;
    }

    .slider-control-centerright{
        bottom: -36px;
        right: -10px !important;
    }

    .slider-control-bottomcenter{
        bottom: -38px !important;

        button{
            padding: 5px 2px !important;
            outline: 0;
            font-size: 18px !important;
        }
    }
}
