/* ---------- FICA A DICA ---------- */

#fica_dica{
    display: inline-block;
    color: $cinza;

    .tema{
        font-size: 14px;
        font-weight: 600;
    }

    .titulo{
        font-size: 35px;
        line-height: 37px;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    .secao{
        font-size: 11px;
    }

    p{
        font-size: 14px;
        line-height: 20px;
        margin-top: 20px;
    }

    a{
        font-size: 12px;
        line-height: normal;
        margin-bottom: 20px;
        display: inline-block;
        
        &:not(.cor_orgao){
            color: inherit;
        }
    }
}