/* ---------- NOTICIAS ---------- */

#noticias{
    flex: 1 1 auto;
    position: relative;
    order: 1;

    .slider-list, .slider-list li{
        height: 100% !important;
    }

    .noticia_slide{
        @include relative_full;
        background-size: cover;
        background-position: center;
    }

    &:hover{
        .cortina{
            opacity: .5;
        }
    }

    .cortina{
        @include absolute_full;
        z-index: 1;
        opacity: .3;
        transition: .2s all;

        &.__inema{
            background: $cor_primaria_inema;
        }

        &.__sema{
            background: $cor_primaria_sema;
        }
        
    }

    .trecho{
        position: absolute;
        width: 100%;
        z-index: 2;
        bottom: 24px;
        padding: 15px 0;
        padding-left: 25px;
        padding-right: calc(16% - 95px);
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        height: 85px;

        h3{
            font-weight: normal;
            font-size: 18px;
            line-height: 19px;
            margin-bottom: 5px;
        }

        p{
            font-size: 12px;
            line-height: 14px;
            padding-right: 25px;
        }
    }

    .slider-control-centerright, .slider-control-centerleft{
        position: absolute;
        transform: none !important;
        top: auto !important;

        button{
            background: none;
            outline: 0;
            border: 0;

            path{
                fill: #fff;
            }
        }
    }

    .slider-control-centerleft{
        bottom: 25px;
        left: auto !important;
        right: 35px !important;
    }

    .slider-control-centerright{
        bottom: 25px;
        right: 15px !important;
    }

    .slider-control-bottomcenter{
        bottom: -18px !important;

        button{
            padding: 5px 2px !important;
            outline: 0;
        }
    }
}