/* ---------- NOVOS COLABORADORES ---------- */

#novos_colaboradores{
    display: inline-block;
    position: relative;
    width: 630px;
    padding: 0 50px;
    padding-top: 30px;
    box-sizing: border-box;

    header{
        position: absolute;
        top: 0;
        left: 0;

        h3{
            font-weight: normal;
            font-size: 20.5295px;
            line-height: 20px;
        }
    }

    .slider, .slider-list, .slider-list li{
        height: 180px !important;
    }

    .colaborador_img{
        width: 180px;
        height: 180px;
        background: #919191;
        border-radius: 50%;
        color: #fff;
        background-size: cover;
        background-position: center;

        div{
            max-width: 180px;
            max-height: 180px;
        }

        .cortina{
            @include absolute_full;
            border-radius: 50%;
            overflow: hidden;
            opacity: 0;
            transition: .5s opacity;
        }

        a{
            color: #fff;
        }

        .conteudo{
            position: absolute;
            @include center_y;
            width: 100%;
            text-align: center;
            z-index: 2;
            opacity: 0;
            transition: .5s opacity;

            h4{
                font-size: 20px;
                line-height: 20px;
                text-transform: uppercase;
            }

            span{
                display: block;
                font-size: 16px;
                line-height: 16px;
            }
        }

        &:hover{
            .cortina{
                opacity: .5;
            }

            .conteudo{
                opacity: 1;
            }
        }
    }

    .slider-control-centerright, .slider-control-centerleft{
        position: absolute;
        transform: none !important;
        top: auto !important;

        button{
            background: none;
            outline: 0;
            border: 0;

            path{
                cursor: pointer;
            }
        }
    }

    .slider-control-centerleft{
        bottom: 60px;
        left: -40px !important;
    }

    .slider-control-centerright{
        bottom: 60px;
        right: -40px !important;
    }
}