/* ---------- VIDEOS ---------- */

#videos{
    position: relative;
    overflow: hidden;

    > div{
        cursor: pointer;
    }

    .cortina{
        @include absolute_full;
        z-index: 0;
        opacity: .5;
    }

    .fade{
        @include absolute_full;
        z-index: 1;
        opacity: .5;

        &.__inema{
            background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, $cor_primaria_inema 90%);
        }

        &.__sema{
            background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, $cor_primaria_sema 90%);
        }
    }

    div:nth-child(2):not(.fade){
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width:100% !important;
        overflow: hidden;
    }

    .conteudo{
        @include absolute_full;
        color: #fff;
        padding: 0 20px;
        padding-top: 150px;
        box-sizing: border-box;
        z-index: 2;

        h1{
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
        }

        p{
            font-size: 14px;
            line-height: 19px;
        }
    }

    svg{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}

#modal_widget_videos{
    .modal_video_box {
        position: absolute;
        @include center;
        padding: 10px;
        background: #fff;
        max-width: 100%;
        overflow: hidden;
        box-sizing: border-box;

        > div{
            max-width: 100vw !important;
        }
    }
}