.banner_wrap{
    height: 286px;
    background: #ccc;
    position: relative;
    margin-bottom: 50px;
    z-index: 5;

    .slider{
        height: 100% !important;
    }

    &.nobanner{
        height: 48px;
        background: transparent;
        margin-bottom: 30px;

        nav{
            top: 0;
        }
    }

    > .img {
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    a{
        color: #fff !important;
        text-decoration: none;
    
        .slide{
            height: 286px;
            background-position: center;
            background-size: cover;

            .texto{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 25px;
                line-height: 52px;
                position: absolute;
                top: 50%;
                left: 20%;
                max-width: 500px;
                transform: translateY(-50%);
                min-width: 250px;
                padding: 5px 0px;

                > span {
                    max-width: 600px;
                    // box-sizing: border-box;
                    white-space: pre-wrap;
                    padding-top: 5px;
                    display: inline;
                    vertical-align: sub;
                    // box-shadow: 10px 0 0 orange, -10px 0 0 orange;
                }

                &.__light{
                    color: #fff;
                }
            }
        }
    }

    nav{
        width: 78%;
        min-height: 48px;
        height: 48px;
        max-height: 48px;
        position: absolute;
        top: calc(286px - 24px);
        @include center_x;
        color: #FFF;
        padding: 0 50px 0 25px;
        box-sizing: border-box;
        font-weight: 500;

        @media (max-width: 767.98px) {
            &:last-child{
                width: 95%;
            }
        }

        .mais{
            position: fixed;
            top: 8px;
            right: 30px;
            padding: 2px 10px;
            cursor: pointer;
            z-index: 8;
        }

        .apendice{
            position: absolute;
            display: block;
            top: 40px;
            right: 8px;
            z-index: 20;
            min-width: 300px;
            max-width: 670px;
            width: 90%;
            box-sizing: border-box;
            border-radius: 4px;
            height: 190px;

            &.__inema{
                background: #379ada;
                border-color: #379ada;
            }

            &.__sema{
                background: #00b88a;
                border-color: #00b88a;
            }

            &.__closed{
                display: none;
                max-height: 48px;
            }
    
            &.__opened{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                max-height: 190px;
                animation: slowShortSlideDown .2s;
                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
                padding: 30px;
                box-sizing: border-box;

                .titulo{
                    font-weight: bold;
                }
                
                div:first-child{
                    margin-right: 40px;
                }

                div:nth-child(2){
                    ul{
                        columns: 3;
                        column-fill: auto;
                    }
                }

                ul{ 
                    max-height: calc( 190px - 56px );
                    padding: 0;

                    li{
                        cursor: pointer;
                        display: block;
                        padding: 0;
                        font-size: 14px;
                        line-height: 20px;
                        white-space: nowrap;
                        
                        a{
                            &:hover{
                                text-decoration: underline;
                                color: #fff;
                            }
                        }
                    }
                }
            }

            &:before{
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
            }   
    
            &:before{
                right: 30px;
                top: -10px;
                border-color: transparent;
                border-bottom-color: inherit;
                border-width: 5px 9px;
            }

            @keyframes slowShortSlideDown{
                from {transform: translateY(-5px);}
                to {transform: translateY(0px);}
            }
        }

        ul{
            width: 100%;
            height: 100%;
            padding: 5px 20px;
            box-sizing: border-box;

            &.main{
                position: relative;
                overflow-x: auto;
                overflow-y: hidden;
                display: flex;
                flex-wrap: nowrap;

                li{
                    flex-grow: 1;

                    @media (max-width: 767.98px) {
                        &:last-child{
                            padding-right: 50px;
                        }
                    }                    
                }
            }

            &.all{
                display: none;
            } 

            li{
                display: inline-block;
                vertical-align: middle;
                padding: 7px 5px;
            }
        }
    }
}