/* --------------------- DEFINIÇÕES GERAIS --------------------- */

div.barra_governo_ba {
    font: 12px Arial, Helvetica, sans-serif;
    color: #333;
    background: url(/img/ext/barra_governo_ba/bg-header-tematicos.jpg) repeat-x top #FFF;
}


/* links */

a.barra_governo_ba:link,
a.barra_governo_ba:active,
a.barra_governo_ba:visited {
    color: #0071B4;
    text-decoration: none;
}

a.barra_governo_ba:hover {
    text-decoration: underline;
}


/*-------------------------- barra institucional --------------------------*/

#inst-bar {
    display: block;
    width: 998px;
    height: 46px;
    margin: 0 auto;
    background: url(/img/ext/barra_governo_ba/bg-controls-acessbar-tematicos.jpg) no-repeat left top;
}

#inst-bar ul#inst-bar-opts {
    height: 29px;
    left: 50%;
    margin-left: -300px;
    position: absolute;
    top: 0;
}

#inst-bar ul#inst-bar-opts li,
#inst-bar ul#inst-bar-opts li a {
    float: left;
    font-size: 11px;
    line-height: 29px;
    color: #D8EBF6;
}

#inst-bar ul#inst-bar-opts li a {
    background: url(/img/ext/barra_governo_ba/bg-controls-border.png) no-repeat left center;
    padding: 0 10px;
}

#inst-bar ul#inst-bar-opts li a:hover {
    color: #FFF;
    text-decoration: none;
}

#inst-bar ul#inst-bar-opts li#inst-bar-ba a {
    display: block;
    overflow: hidden;
    text-indent: -1000px;
    background: url(/img/ext/barra_governo_ba/OLD_brasao-bahia-106x36.png) no-repeat;
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -390px;
    width: 91px;
    height: 42px;
}


/*#inst-bar ul#inst-bar-opts li#inst-bar-ba a {display: block;overflow: hidden;text-indent: -1000px;background: url(../../images/brasao-bahia-106x36.png) no-repeat;position: absolute;top:5px;left:50%;margin-left:-394px;width: 106px;height: 36px;}*/

#inst-bar ul#inst-bar-opts li#inst-bar-opt-ba a {
    background: none;
}