section.galeria_rodape{
    display: flex;
    width: calc(90% + 22px);
    max-width: 800px;
    margin: 0 auto;

    div{
        width: 130px;
        height: 108px;
        margin: 11px;
        cursor: pointer;
        background-size: cover;
        background-position: center;
    }
}