.painel_tempo{
    position: relative;
    width: 304px;
    height: 310.5px;
    background-position: center;
    background-size: cover;
    color: #FFF;
    transition: .8s background-image;

    .gradiente{
        @include absolute_full;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 41.55%, rgba(255, 255, 255, 0) 154.27%);
        z-index: 0;
    }

    .main{
        @include absolute_full;
        z-index: 2;

        header{
            margin: 16px 22px;
            margin-bottom: 0;
            

            .cidade{
                font-size: 20px;
                padding-right: 8px;
            }

            .divisoria{
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                height: 12px;
                display: inline-block
            }

            .data{
                padding-left: 7px;
                font-weight: 300;
                font-size: 10px;
                vertical-align: middle;
            }

            .grupotempo{
                display: block;
                font-weight: 500;
                line-height: 11px;
                font-size: 12px;
            }
        }

        .previsao_hoje{
            padding: 30px 0;
            font-size: 62.0847px;
            flex-flow: column;

            .temperatura{
                display: flex;
                flex-wrap: nowrap;
                flex-flow: row;
                padding: 0 35px;
                word-spacing: -3px;

                img{
                    height: 60px;
                    vertical-align: middle;
                    padding-right: 20px;
                }
    
                span{
                    height: 60px;
                    line-height: 60px;
                    vertical-align: bottom;
                    display: inline-block;
                    align-self: flex-end;
                }
    
                .max{
                    height: 50px;
                }
    
                .min{
                    font-size: 32.8253px;
                    height: 50px;
                }
            }

            .iuv_vento{
                font-weight: 500;
                line-height: 14px;
                font-size: 13px;
                display: flex;
                flex-flow: row;
                padding: 10px 5px;

                div{
                    flex-grow: 1;
                    text-align: center;
                }
                
                > span {
                    height: 100%;

                    > span{
                        vertical-align: middle;
                    }
                }

                img{
                    vertical-align: bottom;
                }
            }
        }
    }

    .footer{
        position: absolute;
        bottom: 0;
        z-index: 2;
        height: 92.2px;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: flex;

        > div{
            padding: 14px 18px;
            flex-grow: 1;

            &:last-child{
                border-left: 1px solid #FFF;
            }

            header{
                font-weight: 300;
                line-height: normal;
                font-size: 12px;
            }

            .temperatura{
                display: flex;
                flex-wrap: nowrap;
                flex-flow: row;
                padding-top: 5px;

                img{
                    height: 35px;
                    vertical-align: baseline;
                    padding-right: 2px;
                }
    
                span{
                    height: 35px;
                    line-height: 35px;
                    display: inline-block;
                    align-self: flex-end;
                }
    
                .max{
                    font-size: 29.5544px;
                    height: 30px;
                }
    
                .min{
                    position: relative;
                    left: -3px;
                    font-size: 16.0498px;
                    height: 30px;
                }
            }
        }
    }



    .select{
        width: 14px;
        height: 14px;
        position: absolute;
        top: 23.2px;
        right: 24.7px;
        color: $preto;

        .select_arrow{
            width: 100%;
            height: 100%;
            cursor: pointer;
            @include mp0;

            img{
                width: 100%;
                height: 100%;
                vertical-align: top;
            }
        }

        .select_options{
            position: absolute;
            width: 157.3px;
            height: 141.62px;
            top: 14px;
            right: 0;
            background: rgba(255, 255, 255, 0.95);
            overflow: hidden;
            display: none;

            ul{
                width: calc( 100% - 2*(12px));
                height: calc( 100% - 9px);
                overflow-x: hidden;
                overflow-y: auto;
                margin: 11px 12px;

                &::-webkit-scrollbar {
                    width: 2px;
                }
                 
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                 
                &::-webkit-scrollbar-thumb {
                  background-color: darkgrey;
                  outline: 1px solid slategrey;
                  border-radius: 2px;
                }

                li{
                    line-height: 21px;
                    font-size: 12px;
                    list-style: none;
                    cursor: pointer;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}