.login_page{
    background: $background_login;

    main{
        min-height: calc(100vh - 124px);
        text-align: center;
        color: $cinza;

        div{
            margin: 0 auto;
        }

        header{
            position: relative;
            padding-top: 50px;
            border: none;
    
            h2{
                color: $preto;
                font-weight: normal;
                line-height: normal;
                font-size: 24px;
            }
        }
    
        section{
            margin: 30px auto 50px auto;
            max-width: 90vw;
            width: 429px;
            padding: 70px 37px;
            background: #FFFFFF;
            box-shadow: 0px 0px 30px rgba(153, 184, 219, 0.25);
            box-sizing: border-box;

            p{
              margin-top: 30px;  
            }

            a{
                color: $cinza;
                text-decoration: none;

                &:hover{
                    color: $preto;
                }
            }
        }

        form{
            .input_wrap{
                display: inline-block;
                width: 355px;
                max-width: 100%;

                input, select{
                    width: 100%;
                }
            }
        }
    }

    footer{
        background: #FFFFFF;
        text-align: center;
        height: 124px;
        min-height: auto;
        border-top: 2px solid rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        overflow-y: hidden;

        img{
            height: 28px;
            margin: calc((124px - 28px) / 2) 30px;
        }
    }
}

@media (max-width: 767.98px) {
    .login_page{
        main{
            header{
                padding-top: 30px;
            }

            section{
                margin: 30px auto;
            }
        }

        footer{    
            img{
                height: 24px;
                margin: calc((124px - 24px) / 2) 10px;
            }
        }
    }
}